// Define your font families
@include font-face('blokk', 'blokk/BLOKKNeue-Regular');

// Base styles (used by REM values accross site as base)
html, body {

    font-size: 18px;
    line-height: 1.225rem;
    font-family: 'blokk';
    font-style: normal;
    font-weight: 400;

}

// Import the rest of the base typography styles
@import

    "sizes",
    "weights",
    "paragraphs",
    "headings";