// Font sizes
.size {

    &--mega {

        font-size: 4.44rem; // 80px
        line-height: 5rem; // 84px

    }

    &--huge {

        font-size: 3.05rem; // 55px
        line-height: 3.61rem; // 59px

    }

    &--large {

        font-size: 1.77rem; // 32px
        line-height: 2.33rem; // 36px

    }

    &--medium {

        font-size: 1.33rem; // 24px
        line-height: 1.8rem; // 28px

    }

    &--regular {

        font-size: 1rem; // 18px
        line-height: 1.525rem; // 28px

    }

    &--small {

        font-size: 0.66rem; // 12px
        line-height: 1.22rem; // 16px

    }

    &--tiny {

        font-size: 0.5rem; // 8px
        line-height: 1rem; // 12px

    }

}