&--label {

    color: $label-text-color;
    font-weight: bold;
    font-size: $form_label-fontsize-regular;
    line-height: $form_label-lineheight-regular;

    &--small {

        font-size: $form_label-fontsize-small;
        line-height: $form_label-lineheight-small;

    }

}