&--select {

    $select-line-height-correction: 0.3rem;
    line-height: $form_el-height-regular - $select-line-height-correction;
    position: relative;

    @include background-image('select_arrow.svg');
    background-size: $form_el-height-regular / 2 auto;
    background-repeat: no-repeat;
    background-position: center right $form_el-padding;

    &::-ms-expand {

        display: none;

    }

}