.validation {

    &--main {

        padding: $form-spacing-small;
        border: 0px solid;
        width: 100%;
        background-color: $validation-main-bg-color;
        color: $validation-main-text-color;
        @include border-radius($form-border-radius);

    }

}