img {

    max-width: 100%;
    height: auto;

}

img:not(.wp-smiley), .wp-caption {

    max-width: 100%;
    height: auto;
    display: block;

    .wp-caption-text {

        padding-top: $small_gutter;
        padding-bottom: $small_gutter;

    }

    &.alignleft {

        float: left;
        margin-right: $gutter;
        margin-top: 5px;
        margin-bottom: 30px;
        clear: both;

        @include mediaquery('xs') {

            margin-top: 0px;
            margin-right: 0px;
            width: 100%;
            height: auto;
            margin-bottom: $gutter;

        }

    }

    &.alignright {

        float: right;
        margin-left: $gutter;
        margin-top: 5px;
        margin-bottom: $gutter;

        @include mediaquery('xs') {

            margin-top: 0px;
            margin-left: 0px;
            width: 100%;
            height: auto;
            margin-bottom: $gutter;

        }

    }

    &.aligncenter {

        margin-top: 5px;
        margin-bottom: $gutter;
        margin-left: auto;
        margin-right: auto;

        @include mediaquery('xs') {

            margin-top: 0px;
            margin-left: 0px;
            width: 100%;
            height: auto;
            margin-bottom: $gutter;

        }

    }

}

> * .alignright, > * .alignleft, > * .aligncenter {

    @include mediaquery('xs') {

        margin-bottom: $gutter;

    }

}

.wp-caption {

    &.alignright, &.alignleft {

        width: auto!important;
        margin-bottom: 20px;

        @include mediaquery('xs') {

            width: 100% !important; // important to override wp inline styles
            margin-bottom: $gutter;

        }

    }

    &.aligncenter {



    }

    img {

        margin: 0;
        width: 100%;
        height: auto;

    }

}