dl {

    margin-top: 0;
    margin-left: 22px;

    dt {

        margin-left: 0;

    }

    dd {

        margin-left: $small_gutter;
        margin-top: $small_gutter;

    }

    dt {

        margin-top: $small_gutter;
        font-weight: bold;

        &:first-child {

            margin-top: 0;

        }

    }

}


ul {

    padding-left: 0;

    ul {

        padding-left: $small_gutter;

    }

    li {

        list-style: circle;
        list-style-position: inside;

        @extend .paragraph;
        @extend .paragraph--regular;

    }

}

ol {

    padding-left: 0;

    ol {

        padding-left: $small_gutter;

    }

    li {

        list-style: decimal;
        list-style-position: inside;

        @extend .paragraph;
        @extend .paragraph--regular;

    }

}