table {

    width: 100%;

    thead, tfoot {

        td, th {

            background-color: color('content', 'table-odd-bg');
            color: color('content', 'table-odd-fg');

        }

    }

    td, th {

        text-align: left;
        padding: $small_gutter;

    }

    tbody {

        tr {

            background-color: color('content', 'table-even-bg');
            color: color('content', 'table-even-fg');

            a {

                color: color('content', 'table-even-link');

            }

            &:nth-child(odd) {

                background-color: color('content', 'table-odd-bg');
                color: color('content', 'table-odd-fg');

                a {

                    color: color('content', 'table-odd-link');

                }

            }

        }

    }

}